
/* general color changes */

.dnd5e .items-list .item .item-name {
     color: var(--luxury-ui-light-text);
}

.dnd5e input[type="text"]:hover,
.dnd5e input[type="number"]:hover,
.dnd5e input[type="checkbox"]:hover,
.dnd5e input[type="text"]:focus,
.dnd5e input[type="number"]:focus,
.dnd5e input[type="checkbox"]:focus {
    border: 1px solid var(--luxury-ui-selected-color);
    box-shadow: var(--luxury-ui-selected-shadow);
}

/* input fields */

.dnd5e.sheet.item .sheet-body .item-properties .properties-list li {
    background: var(--luxury-ui-tag-background-color);
    border: 1px solid var(--luxury-ui-tag-border-color);
    border-radius: 0 3px;
    line-height: 18px;
}

.dnd5e.sheet.item .sheet-body .item-properties .properties-list li {
    text-transform: uppercase;
}

.properties-header {
    color: var(--luxury-ui-light-header);
}

.dnd5e .form-header {
    margin-top: 1rem;
}

.midi-qol-box,
.dnd5e.sheet.item h4.damage-header,
.dnd5e.sheet.item .damage-parts,
.dnd5e .form-group {
    padding: 0.2rem 0.5rem !important;
}

.midi-qol-box {
    border: none !important;
}

label.checkbox > input[type="checkbox"] {
    background: transparent;
}

form .form-group, form .form-group-stacked {
    margin: 0;
}

.dnd5e input[type="text"],
.dnd5e input[type="number"],
.dnd5e select {
    color: var(--luxury-ui-light-text);
}

/* ----------------------------------------- */
/* Sheet Header
/* ----------------------------------------- */

.dnd5e.sheet.window-app .window-header {
    position: absolute;
    background: transparent;
    padding: 16px;
    width: 100%;
}

.dnd5e.sheet.window-app .window-content {
    border-radius: 5px;
    overflow-y: hidden;
    padding: 16px;
}

.item-properties .identified input[type="checkbox"],
.item-properties .equipped input[type="checkbox"] {
    display: none;
}

.dnd5e .sheet-header input {
    color: var(--luxury-ui-secondary);
}

.dnd5e.sheet .sheet-header .summary li {
    padding-left: 10px;
    border-right: 0;
    color: var(--dnd5e-color-blue-gray-3);
}

.dnd5e.sheet.item .sheet-header img.profile {
    border: 2px solid var(--luxury-ui-secondary);
}

.dnd5e.sheet .sheet-header {
    border-bottom: 0;
    margin-bottom: 10px;
}

.dnd5e.sheet .sheet-header .summary {
    border-top: 0;
}

.dnd5e.sheet.item [data-tab="description"] .item-description .description-header,
.dnd5e .form-header, .dnd5e .items-list .items-header {
    background: var(--luxury-ui-primary-gradient);
    border: 0 !important;
    border-radius: 4px 4px 0 0;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 1rem !important;
}

.dnd5e .items-list .items-header h3,
.dnd5e .items-header,
.dnd5e .description-header,
.dnd5e .form-header {
    color: var(--luxury-ui-light-header);
    font-family: var(--dnd5e-font-roboto-slab), serif;
    font-size: var(--font-size-13);
    font-weight: bold;
    align-items: center;
    margin: auto;
}

.dnd5e.sheet.item .item-properties {
    border-right: none !important;
}

.dnd5e.sheet.item .accordion {
    margin: 1em 0 1em 1em;
    border-radius: 4px;
    padding: 0;
}

.dnd5e.sheet.item .accordion:not(.collapsed) .accordion-content {
    background: var(--luxury-ui-paragraph-background);
    border-radius: 0 0 4px 4px;
}

.dnd5e.sheet.item .accordion p {
    padding: 0.25em 0.1em;
}

.dnd5e.sheet.item .accordion > i {
    color: var(--luxury-ui-light-text);
}

.dnd5e.sheet.item .editor {
    padding-inline: 0;
}

.dnd5e.sheet.item .sheet-body .tab {
    padding: 0;
    overflow: hidden auto;
}

.dnd5e.sheet.item input[type="checkbox"] {
    appearance: none;
}

.dnd5e.sheet.item input[type="checkbox"]:checked {
    background: var(--luxury-ui-selected-color);
}

.dnd5e.sheet.item .sheet-body .item-properties .properties-header,
.dnd5e.sheet.item h4.damage-header,
.dnd5e.sheet.item input[type="text"],
.dnd5e.sheet.item input[type="number"],
.dnd5e .form-group label,
.dnd5e select {
    color: var(--luxury-ui-light-text);
}

.dnd5e.sheet.item .midi-qol-tab input[type="text"],
.dnd5e.sheet.item .midi-qol-tab input[type="number"],
.dnd5e.sheet.item .midi-qol-tab select,
.dnd5e.sheet.item .details input[type="text"],
.dnd5e.sheet.item .details input[type="number"],
.dnd5e.sheet.item input[type="checkbox"]:after,
label.checkbox > input[type="checkbox"],
.dnd5e.sheet.item .details select {
    color: var(--luxury-ui-light-text);
    background: var(--luxury-ui-tag-background-color);
    border: var(--luxury-ui-tag-border);
    border-radius: 5px;
}

.dnd5e.sheet .sheet-header .summary,
.dnd5e.sheet .sheet-header .header-details .summary select {
    color: var(--luxury-ui-light-secondary-text);
}

.dnd5e.sheet .sheet-header .header-details {
    height: 100px;
}

.dnd5e.sheet .sheet-header h1 {
    border-bottom: none;
    height: 40px;
    padding: 0;
    margin: 5px
}

.dnd5e.sheet .sheet-header h1 input {
    height: 100%;
}

/*.dnd5e.sheet.item .sheet-header .item-subtitle {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    height: 30px;
    margin: 0;
    padding: 5px;
    text-align: left;
    white-space: nowrap;
    color: var(--dnd5e-color-tan);
}*/

.dnd5e.sheet .sheet-header .summary {
    height: 40px;
    padding: 0 5px;
}

.dnd5e.sheet.item .sheet-header .item-subtitle .item-type {
    flex-grow: 0;
}

.prosemirror {
    box-shadow: 3px 3px 6px var(--luxury-ui-shadow-45);
}

.prosemirror menu .pm-dropdown {
    background: none;
}

.prosemirror menu {
    background: var(--luxury-ui-primary-gradient);
    border-radius: 5px 5px 0 0;
}

.prosemirror .editor-container {
    background: var(--luxury-ui-paragraph-background);
    margin: 0;
    padding: 0.5rem;
    border-radius: 0 0 5px 5px;
}

.prosemirror .editor-container p {
    margin: 0.5rem;
}

/* ----------------------------------------- */
/* Advancements
/* ----------------------------------------- */

.dnd5e .items-list .item-list {
    background: var(--luxury-ui-paragraph-background);
    border-radius: 0 0 4px 4px;
}

.dnd5e .items-list .item {
    padding: 0.15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--dnd5e-border-dotted);
}

.dnd5e .advancement .items-list .item .item-image {
    display: flex;

    margin: 10px;
    padding: 10px;
    height: 30px;
    width: 30px;

    border-radius: 3px;
    background-size: cover;
    background-color: var(--luxury-ui-secondary);
    border: none;
}

.dnd5e .advancement .item-name {
    display: flex;
}

.dnd5e .advancement .item-info {
    flex: 3;
}

.dnd5e .advancement .items-list .item-summary {
    display: flex;
    color: var(--luxury-ui-light-secondary-text);
    padding: 0 0.5em 0.5em 45px;
}

.dnd5e .advancement .items-list .item-summary .tag {
    background: var(--luxury-ui-tag-background-color);
    border-color: var(--luxury-ui-tag-border-color);
}

/* ----------------------------------------- */
/* Result messages
/* ----------------------------------------- */

li.hit .title {
    color: var(--luxury-ui-success-text-color);
}

li.miss .title {
    color: var(--luxury-ui-fail-text-color);
}

:is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.hit {
    color: var(--luxury-ui-success-text-color);
}

:is(.chat-popout, #chat-log) .message .dnd5e2.evaluation .target.miss {
    color: var(--luxury-ui-fail-text-color);
}

/* ----------------------------------------- */
/* Character Sheet
/* ----------------------------------------- */

.dnd5e-theme-dark .dnd5e2.sheet .card .header,
.dnd5e2.dnd5e-theme-dark.sheet .card .header {
    background: linear-gradient(to right, var(--dnd5e-color-hd-1), var(--dnd5e-color-hd-2));
}

.dnd5e-theme-dark .dnd5e2.sheet.actor.character .window-content::before,
.dnd5e2.sheet.actor.character.dnd5e-theme-dark .window-content::before {
    filter: var(--luxury-ui-filter);
}

/* ----------------------------------------- */
/* Tooltip
/* ----------------------------------------- */

:is(#tooltip, .locked-tooltip).dnd5e-tooltip {
    color: var(--luxury-ui-light-text);
    border-radius: 5px;
    background: var(--luxury-ui-background);
    box-shadow: 0 0 16px var(--luxury-ui-shadow-45);
    border: 2px solid var(--luxury-ui-secondary);
}