:root {
    --luxury-ui-background: var(--luxury-ui-background-color) url("/ui/denim075.png");
    --luxury-ui-tabs-height: 160px;

    --font-size-9: 0.5625rem;
    --font-size-10: 0.625rem;
    --font-size-23: 1.4375rem;
    --font-size-30: 1.875rem;
    --font-size-36: 2.25rem;
    --font-size-42: 2.625rem;
    --font-size-46: 2.875rem;
}